.multi-cell{
  white-space: normal !important;
  overflow: hidden;
  word-break: break-word;
  overflow-wrap: anywhere;
  vertical-align: top;
}

.multi-line-item{
  line-height: 1.25;
  margin-bottom: 2px;
}

/* ===== EDIT MODAL SCROLL FIX ===== */
#editModal .modal-dialog,
#editModal .modal-content {
  max-height: 90vh;
}

#editModal .modal-body {
  max-height: calc(90vh - 140px);
  overflow-y: auto;
  scroll-behavior: smooth;
}
